[DEFAULT]
archivedir = {{ env "OUT_PATH" }}
archive_style = flat
mail_on_success = false
logfile = {{ env "OUT_PATH" }}/mini-dinstall.log
architectures = all, amd64
trigger_reindex = false
dynamic_reindex = true
poll_time = 60
