[DEFAULT]
archivedir = {{ env "OUT_PATH" }}
archive_style = flat
mail_on_success = false
logfile = {{ env "OUT_PATH" }}/mini-dinstall.log
architectures = all, amd64
trigger_reindex = false
dynamic_reindex = true
poll_time = 60
verify_sigs = false
generate_release = true
release_codename = unstable
release_description = perldeb
release_label = perldeb
release_origin = perldeb
release_suite = perldeb
release_signscript = /usr/local/bin/sign-release.sh
